@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --neutral: #000000;
    --bg-01: #121212;
    --gray-200: #1e1e1e;
    --gray-100: #2f2f2f;
    --primary-100: #ffecba;
    --primary-200: #eed79c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --neutral: #ffffff;
    }
}

html.dark {
    --neutral: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-jakarta-sans);
    color: rgb(var(--foreground-rgb));
    background: var(--bg-01);
}
