@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --wrapper: 2.25rem;
    --neutral: #000000;
    --bg-01: #121212;
    --bg-01-light: #fefce8;
    --gray-100: #2f2f2f;
    --gray-200: #1e1e1e;
    --white-100: #f5f5f4;
    --white-200: #fef3c7;
    --primary-100: #ffecba;
    --primary-200: #eed79c;
}

@media (min-width: 1024px) {
    :root {
        --wrapper: 6rem;
    }
}

html.dark {
    --neutral: #ffffff;
}

html {
    text-rendering: optimizeLegibility;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-jakarta-sans);
    color: var(--neutral);
    background: var(--bg-01-light);

    overflow-y: overlay;
    overflow-x: hidden;
}

html.dark body {
    background: var(--bg-01);
}

/* NUMBER INPUT RESETS */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
